/* Pallette
https://coolors.co/011627-0686ef-fdfffc-ed4155-ff9f1c
 dark: 011627
white: fdfffc
hover: 064174
 blue: 0686ef

header: Pacifico
  body: Montserrat

*/


html{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}
body{
	/*background: #eeeeee;*/
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	background: #FEFEFE;
	overflow-x: hidden;
}
/*Home header*/
.header {
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgb(205,255,234);
	background: -moz-radial-gradient(circle at 0% 0%, rgba(205,255,234,1) 0%, rgba(107,240,184,1) 100%);
	background: -webkit-radial-gradient(circle at 0% 0%, rgba(205,255,234,1) 0%, rgba(107,240,184,1) 100%);
	background: radial-gradient(circle at 0% 0%, rgba(205,255,234,1) 0%, rgba(107,240,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdffea",endColorstr="#6bf0b8",GradientType=1);
}
.header-container {
	position: relative;
	top: 30%;
	left: 0;
	height: 32.5%;
	width: 100%;
}
#header-title {
	padding: 0;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #4D4D4D;
	font-size: 7.5vh;
	letter-spacing: 0.04em;
}
.header-button-container{
	position: relative;
	display: flex;
	padding: 0;
	margin: auto;
	top: 18%;
	width: 45%;
	height: 5vh;
	min-height: 2em;
}
.header-button {
	text-decoration: none;
	display: block;
	margin: 0 1vw;
	flex: 1;
	font-family: 'Montserrat', sans-serif;
	color: #4D4D4D;
	font-size: 2.5vh;
	background-color: rgb(0,0,0,0);
	border: 0.1em solid #4D4D4D;
	font-weight: 1000;
	transition: 0.3s;
}
.header-button:hover {
	background-color: rgb(255,255,255,0.2);
}
.scroll-down {
	position: absolute;
	bottom: 5%;
	left: 50%;
	width: 2vh;
	height: 2vh;
	transform:translate(-50%,-50%) rotate(45deg);
}
.scroll-down span{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 0.4vh solid #4D4D4D;
	border-right: 0.4vh solid #4D4D4D;
	animation: scroll 1.5s linear infinite; 
}
.scroll-down span:nth-child(1){
	transform:translate(-2.5vh,-2.5vh);
	animation-delay: -0.6s
}
.scroll-down span:nth-child(2){
	transform:translate(-1.25vh,-1.25vh);
	animation-delay: -0.4s
}
.scroll-down span:nth-child(3){
	transform:translate(0vh,0vh);
	animation-delay: -0.2s
}
.scroll-down span:nth-child(4){
	transform:translate(1.25vh,1.25vh);
	animation-delay: 0s
}
@keyframes scroll {
	0% {
		top: -1vh;
		left: -1vh;
		opacity: 0;
	}
	25% {
		top: -0.4vh;
		left: -0.4vh;
		opacity: 1;
	}
	50%, 100% {
		top: 0.2vh;
		left: 0.2vh;
		opacity: 0;
	}
}
@keyframes float {
	0% {
		top: 20vh;
	}
	50% {
		top: 22vh;
	}
	100% {
		top: 20vh;
	}
}


/*about me*/
.about-me {
	display: block;
	padding: 0 0 200px 0px !important;
}
#about-me-title {
	padding: 100px;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #4D4D4D;
	font-size: 4vh;
	letter-spacing: 0.04em;
}
.about-container {
	display: flex;
	width: 80%;
	height: 60%;
	margin: auto;
}
.about-info-container {
	display: block;
	flex: 1;
	height: 100%;
	width: 20%;
	padding: 0 5%;
}
.about-info-img {
	position: relative;
	width: 100px;
}
.about-info-title {
	display: block;
	width: 100%;
	padding: 15px 0;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #4D4D4D;
	font-size: 24pt;
	letter-spacing: 0.035em;
}
.about-info-text {
	display: block;
	width: 100%;
	top: 15%;
	margin: 0;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: #4D4D4D;
	font-size: 12pt;
	letter-spacing: 0.04em;
	line-height: 1.3em;
}
#server {
	position: absolute;
	padding: 0;
	height:50vh;
	top: 20vh;
	left: 48vw;
	animation: float 3s ease-in-out infinite; 
}
/*resume*/
.resume {
	display: block;
	background-color: #4D4D4D;
	padding: 0 0 150px 0px !important;
}
#resume-title {
	padding: 100px 0 35px 0;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #FEFEFE;
	font-size: 4vh;
	letter-spacing: 0.04em;
}
.resumeBtn-container{
	position: relative;
	display: flex;
	padding: 0;
	margin: auto;
}
.resumeBtn {
	text-decoration: none;
	display: block;
	margin: auto;
	padding: 15px;
	font-family: 'Montserrat', sans-serif;
	color: #FEFEFE;
	font-size: 2.5vh;
	background-color: rgb(0,0,0,0);
	border: 0.1em solid #FEFEFE;
	font-weight: 1000;
	transition: 0.3s;
}
.resumeBtn:hover {
	background-color: rgb(255,255,255,0.1);
	color: rgb(107,240,184);
}
/*contact*/
.contact {
	display: block;
	padding: 0 0 150px 0px !important;
	background-color: rgb(107,240,184);
}
#contact-title{
	padding: 100px 0 35px 0;
	margin: 0;
	position: relative;
	font-family: 'Pacifico', cursive;
	color: #4D4D4D;
	font-size: 4vh;
	letter-spacing: 0.04em;
}
.contact-text{
	display: block;
	margin: auto;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	color: #4D4D4D;
	font-size: 20pt;
	letter-spacing: 0.04em;
	line-height: 1.3em;
}

/*footer*/
.footer {
	display: block;
	padding: 50px 0px !important;
	background-color: #4D4D4D;
}
.flaticon {
	font-family: 'Montserrat', sans-serif;
	color: #FAFAFA;
}
.flaticon a {
	text-decoration: none;
	color: rgb(107,240,184);
}

/*Basic classes*/
.section {
	position: relative;
	top: 0;
	margin: 0;
	padding: 0;
	display: block;
	width: 100%;
}
.vcenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.center {
	text-align: center;
	justify-content: center;
}
.f-left {
	float: left;
}
.f-right {
	float: right;
}
.circle {
	display: block;
	position: absolute;
	border-radius: 100%;
	transform: translate(-50%, -50%);
}